<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - flyghtdeck.ai</title>
    <link rel="apple-touch-icon" type="image/jpeg" sizes="180x180" href="static/img/favicon/favicon_180.jpg">
    <link rel="icon" type="image/jpeg" sizes="16x16" href="static/img/favicon/favicon_16.jpg">
    <link rel="icon" type="image/jpeg" sizes="32x32" href="static/img/favicon/favicon_32.jpg">
    <link rel="icon" type="image/jpeg" sizes="180x180" href="static/img/favicon/favicon_180.jpg">
    <link rel="icon" type="image/jpeg" sizes="192x192" href="static/img/favicon/favicon_192.jpg">
    <link rel="icon" type="image/jpeg" sizes="512x512" href="static/img/favicon/favicon_512.jpg">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/css/-Filterable-Cards-.css">
    <link rel="stylesheet" href="static/css/Animation-Cards-1.css">
    <link rel="stylesheet" href="static/css/Animation-Cards.css">
    <link rel="stylesheet" href="static/css/Bold-BS4-Cards-with-Hover-Effect-74-1.css">
    <link rel="stylesheet" href="static/css/Bold-BS4-Cards-with-Hover-Effect-74.css">
    <link rel="stylesheet" href="static/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="static/css/dropdown-search-bs4.css">
    <link rel="stylesheet" href="static/css/food-card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/css/News-Cards.css">
    <link rel="stylesheet" href="static/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="background: var(--bs-white);padding-top: 15px;padding-bottom: 15px;margin-left: -10%;margin-right: -10%;">
        <div class="container">
            <a class="navbar-brand logo" href="#" style="padding: 0px;color: var(--bs-indigo);font-family: Montserrat, sans-serif;">flyghtdeck.ai</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            {% if userType=='admin' %}
            <div class="collapse navbar-collapse" id="navcol-1" style="padding-top: 1%;margin-top: -5%;margin-bottom: -5%;margin-left: 40%;margin-right: -5%;">
                {% elif userType=='user' %}
                <div class="collapse navbar-collapse" id="navcol-1" style="padding-top: 1%;margin-top: -5%;margin-bottom: -5%;margin-left: 25%;margin-right: -10%;">
                    {% else %}
                    <div class="collapse navbar-collapse" id="navcol-1" style="padding-top: 1%;margin-top: -5%;margin-bottom: -5%;margin-left: 25%;margin-right: -5%;">
                        {% endif %}
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link active" href="{{ url_for('index') }}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('shop_and_dine') }}">Shop &amp; Dine</a></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('cart') }}">
                                    <p><i class="fas fa-shopping-cart"></i>&nbsp;Cart</p>
                                </a>
                            </li>
                            {% if userType=='guest' %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('signup') }}" style="font-family: var(--bs-body-font-family);">Register</a></li>
                            {% else %}
                            <li class="nav-item dropdown no-arrow active" style="margin-top: -2%;">
                                <div class="nav-item dropdown no-arrow" style="padding: 0px;">
                                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                        {% if userType=='admin' %}
                                        <span class="d-none d-lg-inline me-2 text-gray-600 small">Administrator</span>
                                        {% else %}
                                        <span class="d-none d-lg-inline me-2 text-gray-600 small">Valerie Luna</span>
                                        {% endif %}
                                        <img class="border rounded-circle img-profile" src="static/img/avatars/avatar1.jpeg" style="width: 25%;height: 25%;">
                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                        {% if userType=='admin' %}
                                        <a class="dropdown-item" href="{{ url_for('dashboard') }}"><i class="fas fa-chevron-right fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Dashboard</a>
                                        <a class="dropdown-item" href="{{ url_for('prediction') }}"><i class="fas fa-chevron-right fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Threat Detection</a>
                                        <div class="dropdown-divider"></div>
                                        {% endif %}
                                        <a class="dropdown-item" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                            {% endif %}
                            {% if not(userType=='admin') %}
                            <li class="nav-item">
                                <div class="nav-item dropdown" style="margin-top: 2px;">
                                    <a class="dropdown-toggle text-uppercase border rounded" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="background: linear-gradient(145deg, rgb(11,116,176), rgb(117,71,156) 50%, rgb(189,56,97));color: var(--bs-white);text-align: center;font-size: 13px;padding: 8px;margin: 2px;">Change City&nbsp;</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{{ url_for('change_to_mumbai') }}">Mumbai</a>
                                        <a class="dropdown-item" href="{{ url_for('change_to_lucknow') }}">Lucknow</a>
                                        <a class="dropdown-item" href="{{ url_for('change_to_ahmedabad') }}">Ahmedabad<br></a>
                                        <a class="dropdown-item" href="{{ url_for('change_to_mangaluru') }}">Mangaluru</a>
                                        <a class="dropdown-item" href="{{ url_for('change_to_jaipur') }}">Jaipur</a>
                                        <a class="dropdown-item" href="{{ url_for('change_to_guwahati') }}">Guwahati</a>
                                    </div>
                                </div>
                                <ul class="navbar-nav flex-nowrap ms-auto">
                                    <div class="d-none d-sm-block topbar-divider"></div>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
    </nav>
    <main class="page landing-page">
        <div class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000" data-bs-pause="false" id="carousel-1" style="margin-top: -2%;width: 100%;height: 575px;">
            <div class="carousel-inner">
                <div class="carousel-item active" style="height: 561px;"><img class="w-100 d-block" src="{{ carousel_images[0] }}" alt="Slide Image"></div>
                <div class="carousel-item" style="height: 561px;"><img class="w-100 d-block" src="{{ carousel_images[1] }}" alt="Slide Image"></div>
                <div class="carousel-item" style="height: 561px;"><img class="w-100 d-block" src="{{ carousel_images[2] }}" alt="Slide Image"></div>
                <div class="carousel-item" style="height: 561px;"><img class="w-100 d-block" src="{{ carousel_images[3] }}" alt="Slide Image"></div>
                <div class="carousel-item" style="height: 561px;"><img class="w-100 d-block" src="{{ carousel_images[4] }}" alt="Slide Image"></div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="3"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="4"></li>
            </ol>
        </div>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading" style="margin-top: -2%;">
                    <h2 class="text-info" style="color: var(--bs-indigo);">Information Bulletin</h2>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6" style="border-style: none;"><img class="rounded shadow" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse" src="static/img/covid-19-information.jpeg" style="border-style: none;" width="100%"></div>
                    <div class="col-md-6">
                        <h3 style="color: var(--bs-blue);">Covid-19</h3>
                        <div class="getting-started-info">
                            <p>The global COVID-19 pandemic has had a significant impact on the way we live our lives, including how we travel by air.<br></p>
                        </div><a class="btn btn-outline-primary btn-lg border rounded-pill border-primary shadow" role="button">Know More</a>
                    </div>
                </div>
                {% if city=='mumbai' %}
                    {% set lat = 19.07283 %}
                    {% set lon = 72.88261 %}
                {% else %}
                    {% set lat = 28.65381 %}
                    {% set lon = 77.22897 %}
                {% endif %}
                <div style="margin-top: 2%">
                    <embed style="width: 100%; height: 700px; overflow: hidden; margin-top: 0px;" src="https://www.radarbox24.com/?widget=1&amp;z=3&amp;lat={{ lat }}&amp;lng={{ lon }}" type="text/html" width="300" height="150">
                </div>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Contact us</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-auto col-md-auto" style="padding-right: 1%;padding-left: 1%;">
                        <div class="shadow-lg box">
                            <img class="border rounded" src="static/img/feedback.jpg" alt="Desmond">
                            <div class="border rounded box-heading" style="background: linear-gradient(45deg, rgba(11,116,176,0.6), rgba(117,71,156,0.8) 50%, rgba(189,56,97,0.9)), rgb(213,20,80,0.7);border-style: none;">
                                <h4 class="title" style="color: var(--bs-gray-100);">Feedback?</h4><span class="post" style="color: var(--bs-white);">Fill Out a quick form</span>
                            </div>
                            <div class="shadow-lg boxContent" style="background: linear-gradient(45deg, rgba(11,116,176,0.6), rgba(117,71,156,0.8) 50%, rgb(213,20,80,0.7)), rgb(213,20,80,0.7);">
                                <p class="description" style="color: var(--bs-white);margin-top: 40%;font-size: 18px;">
                                    Your feedback is valuable to us<br>
                                    <a class="read" href="{{ url_for('feedback') }}" style="color: var(--bs-white);">Give Feedback<i class="fa fa-angle-right"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-auto col-md-auto" style="padding-right: 1%;padding-left: 1%;">
                        <div class="shadow-lg box">
                            <img class="border rounded" src="static/img/suspicious.jpg" alt="Desmond">
                            <div class="border rounded box-heading" style="background: linear-gradient(45deg, rgba(11,116,176,0.6), rgba(117,71,156,0.8) 50%, rgba(189,56,97,0.9)), rgb(213,20,80,0.7);border-style: none;">
                                <h4 class="title" style="color: var(--bs-gray-100);">Found Something Suspicious?</h4><span class="post" style="color: var(--bs-white);">Report Us</span>
                            </div>
                            <div class="shadow-lg boxContent" style="background: linear-gradient(45deg, rgba(11,116,176,0.6), rgba(117,71,156,0.8) 50%, rgb(213,20,80,0.7)), rgb(213,20,80,0.7);">
                                <p class="description" style="color: var(--bs-white);margin-top: 40%;font-size: 18px;">
                                    Fill a quick form for suspicious activities<br>
                                    <a class="read" href="{{ url_for('suspicion') }}" style="color: var(--bs-white);">Report us<i class="fa fa-angle-right"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="page-footer dark">
        <div class="container" style="text-align: left;">
            <div class="row" style="margin-left: 0px;margin-right: -5%;">
                <div class="col-sm-3" style="text-align: left;">
                    <h5 style="text-align: left;">Get started</h5>
                    <ul>
                        <li style="text-align: left;"><a href="{{ url_for('index') }}">Home</a></li>
                        <li style="text-align: left;"><a href="{{ url_for('login') }}">Log in</a></li>
                        <li style="text-align: left;"><a href="{{ url_for('signup') }}">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="text-align: left;">About us</h5>
                    <ul>
                        <li style="text-align: left;"><a href="#" style="text-align: left;">Company Information</a></li>
                        <li style="text-align: left;"><a href="#">Contact us</a></li>
                        <li style="text-align: left;"><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="text-align: left;">Support</h5>
                    <ul style="text-align: left;">
                        <li style="text-align: left;"><a href="{{ url_for('suspicion') }}">Report Suspicion</a></li>
                        <li style="text-align: left;"><a href="#">Help desk</a></li>
                        <li style="text-align: left;"><a href="{{ url_for('feedback') }}">Feedback</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="text-align: left;">Legal</h5>
                    <ul>
                        <li style="text-align: left;"><a href="#">Terms of Service</a></li>
                        <li style="text-align: left;"><a href="#">Terms of Use</a></li>
                        <li style="text-align: left;"><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p style="font-size: 14px;text-align: center;">© 2021 Artficial Mind</p>
        </div>
    </footer>

    <script src="https://github.com/Cognigy/WebchatWidget/releases/latest/download/webchat.js"></script>
    <script>
        initWebchat(
            "https://endpoint-trial.cognigy.ai/26db73d9aabd077e27c6f82668952dfe7125dcfc2d5b4ab52704417ce477a4f9",
            {
                settings: {
                    disableBranding: true,
                    title: "Flyghtdeck.ai"
                }
            }
        );
        
    </script>

    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/js/vanilla-zoom.js"></script>
    <script src="static/js/-Filterable-Cards-.js"></script>
    <script src="static/js/theme.js"></script>
    <script src="static/js/dropdown-search-bs4.js"></script>
</body>

</html>