<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Menu - flyghtdeck.ai</title>
    <link rel="apple-touch-icon" type="image/jpeg" sizes="180x180" href="static/img/favicon/favicon_180.jpg">
    <link rel="icon" type="image/jpeg" sizes="16x16" href="static/img/favicon/favicon_16.jpg">
    <link rel="icon" type="image/jpeg" sizes="32x32" href="static/img/favicon/favicon_32.jpg">
    <link rel="icon" type="image/jpeg" sizes="180x180" href="static/img/favicon/favicon_180.jpg">
    <link rel="icon" type="image/jpeg" sizes="192x192" href="static/img/favicon/favicon_192.jpg">
    <link rel="icon" type="image/jpeg" sizes="512x512" href="static/img/favicon/favicon_512.jpg">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/css/-Filterable-Cards-.css">
    <link rel="stylesheet" href="static/css/Animation-Cards-1.css">
    <link rel="stylesheet" href="static/css/Animation-Cards.css">
    <link rel="stylesheet" href="static/css/Bold-BS4-Cards-with-Hover-Effect-74-1.css">
    <link rel="stylesheet" href="static/css/Bold-BS4-Cards-with-Hover-Effect-74.css">
    <link rel="stylesheet" href="static/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="static/css/dropdown-search-bs4.css">
    <link rel="stylesheet" href="static/css/food-card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/css/News-Cards.css">
    <link rel="stylesheet" href="static/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="background: var(--bs-white);padding-top: 15px;padding-bottom: 15px;margin-left: -10%;margin-right: -10%;">
        <div class="container">
            <a class="navbar-brand logo" href="{{ url_for('index') }}" style="padding: 0px;color: var(--bs-indigo);font-family: Montserrat, sans-serif;">flyghtdeck.ai</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            {% if userType=='admin' %}
            <div class="collapse navbar-collapse" id="navcol-1" style="padding-top: 1%;margin-top: -5%;margin-bottom: -5%;margin-left: 40%;margin-right: -5%;">
            {% elif userType=='user' %}
            <div class="collapse navbar-collapse" id="navcol-1" style="padding-top: 1%;margin-top: -5%;margin-bottom: -5%;margin-left: 25%;margin-right: -10%;">
            {% else %}
            <div class="collapse navbar-collapse" id="navcol-1" style="padding-top: 1%;margin-top: -5%;margin-bottom: -5%;margin-left: 25%;margin-right: -5%;">
            {% endif %}
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{{ url_for('shop_and_dine') }}">Shop &amp; Dine</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('cart') }}">
                            <p><i class="fas fa-shopping-cart"></i>&nbsp;Cart</p>
                        </a>
                    </li>
                    {% if userType=='guest' %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('signup') }}" style="font-family: var(--bs-body-font-family);">Register</a></li>
                    {% else %}
                    <li class="nav-item dropdown no-arrow" style="margin-top: -2%;">
                        <div class="nav-item dropdown no-arrow" style="padding: 0px;">
                            <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                <span class="d-none d-lg-inline me-2 text-gray-600 small">Valerie Luna</span>
                                <img class="border rounded-circle img-profile" src="static/img/avatars/avatar1.jpeg" style="width: 25%;height: 25%;">
                            </a>
                            <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                {% if userType=='admin' %}
                                <a class="dropdown-item" href="{{ url_for('dashboard') }}"><i class="fas fa-chevron-right fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Dashboard</a>
                                <div class="dropdown-divider"></div>
                                {% endif %}
                                <a class="dropdown-item" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% if not(userType=='admin') %}
                    <li class="nav-item">
                        <div class="nav-item dropdown" style="margin-top: 2px;">
                            <a class="dropdown-toggle text-uppercase border rounded" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="background: linear-gradient(145deg, rgb(11,116,176), rgb(117,71,156) 50%, rgb(189,56,97));color: var(--bs-white);text-align: center;font-size: 13px;padding: 8px;margin: 2px;">Change City&nbsp;</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('change_to_mumbai') }}">Mumbai</a>
                                <a class="dropdown-item" href="{{ url_for('change_to_lucknow') }}">Lucknow</a>
                                <a class="dropdown-item" href="{{ url_for('change_to_ahmedabad') }}">Ahmedabad<br></a>
                                <a class="dropdown-item" href="{{ url_for('change_to_mangaluru') }}">Mangaluru</a>
                                <a class="dropdown-item" href="{{ url_for('change_to_jaipur') }}">Jaipur</a>
                                <a class="dropdown-item" href="{{ url_for('change_to_guwahati') }}">Guwahati</a>
                            </div>
                        </div>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="page product-page" style="margin-top: -2%;">
        <section class="clean-block clean-product dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">{{ restaurant }}</h2>
                </div>
            </div>
            <div>
                {% for item in recommended %}
                <div class="cont_principal" style="padding-top: 10%;padding-bottom: 10%;background: transparent;">
                    <div class="cont_modal cont_modal_active">
                        <div class="cont_photo">
                            <div class="cont_img_back"><img src="{{ item[5] }}"></div>
                            <div class="cont_mins">
                                <div class="sub_mins">
                                    <h3>{{ item[3] }}</h3><span>MINS</span>
                                </div>
                                <div class="cont_icon_right">
                                    <p class="border rounded border-danger" style="color: var(--bs-white);font-weight: bold;background: rgb(237,36,96,0.8);font-size: 14px;">&nbsp;<i class="fas fa-star"></i>&nbsp;Recommended For You&nbsp;</p>
                                </div>
                            </div>
                            <div class="cont_servings">
                                <h3>{{ item[4] }}</h3><span>SERVINGS</span>
                            </div>
                            <div class="cont_detalles">
                                <h3>{{ item[1] }}</h3>
                                <p>{{ item[6] }}</p>
                            </div>
                        </div>
                        <div class="cont_text_ingredients">
                            <div class="cont_over_hidden">
                                <div class="cont_tabs">
                                    <ul class="d-inline-flex flex-fill" style="background: transparent;">
                                        <li>
                                            <a href="#">
                                                <h4>PLACE ORDER</h4>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <h4><b>PRICE: {{ item[2] }}</b></h4>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cont_text_det_preparation">
                                    <div class="cont_title_preparation" style="margin-top: 5%;margin-bottom: 0px;">
                                        <p>Add ons</p>
                                    </div>
                                    <div class="cont_info_preparation">
                                        <p style="font-size: 14px;"><input type="checkbox">&nbsp;Coke&nbsp;<br><br><input type="checkbox">&nbsp;Diet Coke<br><br><input type="checkbox">&nbsp;Diet Coke<br></p>
                                    </div>
                                    <div class="cont_text_det_preparation">
                                        <div class="cont_title_preparation">
                                            <p>Order Quantity</p>
                                            <input class="form-control-sm" type="number" value="0" min="0" max="10" step="1">
                                            {% if userType=='guest' %}
                                            <button class="btn btn-dark disabled border rounded-pill shadow" type="submit" style="margin-left: 5%;font-size: 14px;background: rgb(237,36,96);">Add to Cart <i class="fa fa-chevron-right"></i></button>
                                            {% else %}
                                            <a class="btn btn-dark border rounded-pill shadow" type="link" href="{{ item[1]+'_'+item[2] }}" style="margin-left: 5%;font-size: 14px;background: rgb(237,36,96);">Order Now&nbsp;<i class="fa fa-chevron-right"></i></a>
                                            {% endif %}
                                        </div>
                                        <div class="cont_info_preparation"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for item in menu %}
                <div class="cont_principal" style="padding-top: 10%;padding-bottom: 10%;background: transparent;">
                    <div class="cont_modal cont_modal_active">
                        <div class="cont_photo">
                            <div class="cont_img_back"><img src="{{ item[5] }}"></div>
                            <div class="cont_mins">
                                <div class="sub_mins">
                                    <h3>{{ item[3] }}</h3><span>MINS</span>
                                </div>
                                <div class="cont_icon_right"></div>
                            </div>
                            <div class="cont_servings">
                                <h3>{{ item[4] }}</h3><span>SERVINGS</span>
                            </div>
                            <div class="cont_detalles">
                                <h3>{{ item[1] }}</h3>
                                <p>{{ item[6] }}</p>
                            </div>
                        </div>
                        <div class="cont_text_ingredients">
                            <div class="cont_over_hidden">
                                <div class="cont_tabs">
                                    <ul class="d-inline-flex flex-fill" style="background: transparent;">
                                        <li>
                                            <a href="#">
                                                <h4>PLACE ORDER</h4>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <h4><b>PRICE: {{ item[2] }}</b></h4>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cont_text_det_preparation">
                                    <div class="cont_title_preparation" style="margin-top: 5%;margin-bottom: 0px;">
                                        <p>Add ons</p>
                                    </div>
                                    <div class="cont_info_preparation">
                                        <p style="font-size: 14px;"><input type="checkbox">&nbsp;Coke&nbsp;<br><br><input type="checkbox">&nbsp;Diet Coke<br><br><input type="checkbox">&nbsp;Diet Coke<br></p>
                                    </div>
                                    <div class="cont_text_det_preparation">
                                        <div class="cont_title_preparation">
                                            <p>Order Quantity</p>
                                            <input class="form-control-sm" type="number" value="0" min="0" max="10" step="1">
                                            {% if userType=='guest' %}
                                            <button class="btn btn-dark disabled border rounded-pill shadow" type="submit" style="margin-left: 5%;font-size: 14px;background: rgb(237,36,96);">Add to Cart <i class="fa fa-chevron-right"></i></button>
                                            {% else %}
                                            <a class="btn btn-dark border rounded-pill shadow" type="link" href="{{ item[1]+'_'+item[2] }}" style="margin-left: 5%;font-size: 14px;background: rgb(237,36,96);">Order Now&nbsp;<i class="fa fa-chevron-right"></i></a>
                                            {% endif %}
                                        </div>
                                        <div class="cont_info_preparation"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container" style="text-align: left;">
            <div class="row" style="margin-left: 0px;margin-right: -5%;">
                <div class="col-sm-3" style="text-align: left;">
                    <h5 style="text-align: left;">Get started</h5>
                    <ul>
                        <li style="text-align: left;"><a href="{{ url_for('index') }}">Home</a></li>
                        <li style="text-align: left;"><a href="{{ url_for('login') }}">Log in</a></li>
                        <li style="text-align: left;"><a href="{{ url_for('signup') }}">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="text-align: left;">About us</h5>
                    <ul>
                        <li style="text-align: left;"><a href="#" style="text-align: left;">Company Information</a></li>
                        <li style="text-align: left;"><a href="#">Contact us</a></li>
                        <li style="text-align: left;"><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="text-align: left;">Support</h5>
                    <ul style="text-align: left;">
                        <li style="text-align: left;"><a href="{{ url_for('suspicion') }}">Report Suspicion</a></li>
                        <li style="text-align: left;"><a href="#">Help desk</a></li>
                        <li style="text-align: left;"><a href="{{ url_for('feedback') }}">Feedback</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 style="text-align: left;">Legal</h5>
                    <ul>
                        <li style="text-align: left;"><a href="#">Terms of Service</a></li>
                        <li style="text-align: left;"><a href="#">Terms of Use</a></li>
                        <li style="text-align: left;"><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p style="font-size: 14px;text-align: center;">© 2021 Artficial Mind</p>
        </div>
    </footer>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/js/vanilla-zoom.js"></script>
    <script src="static/js/-Filterable-Cards-.js"></script>
    <script src="static/js/theme.js"></script>
    <script src="static/js/dropdown-search-bs4.js"></script>
</body>

</html>